body{
    background-color: rgb(242, 242, 242);
}
#header {
    display: flex;
    margin-bottom: 30px;
}

#header-img {
    width: 100px;
    height: 100px;
    margin-right: auto;
}
#nav-bar ul {
    display: flex;
    list-style: none;
}
li {
    padding: 10px;
}
li a {
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}
#video{
    text-align: center;
}
#form {
    text-align: center;
}